<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body style="background-color: #000000">
    <img class="logo" src="{{url_for('static', filename='logo-ae5da1b5409498390a45c78d980cf949e2151129cb3ab4b4f309290dac32b91e.svg')}}"/>

<div class="main">
  <h1>Давайте настроим {{ title }}!</h1>
</div>
  <!-- Просим заполнить переменные для ЕСИА-Шлюза -->
<div class="main2">
    <form method="post" action="/run">
        <div class="blocks">
            <h2> Укажите параметры для ЕСИА Шлюза </h2>
            <h3 class="text2">  Параметры Docker образа для ЕСИА Шлюза:</h3>
            <p class="text">Репозиторий ЕСИА-шлюза (SENTINEL_IMAGE):  <input class="textin" type="text" size="30px" name="SENTINEL_IMAGE" value="harbor.rnds.pro/sentinel/sentinel-ror"/></p>
            <p class="text">Версия коробки ЕСИА-шлюза(SENTINEL_IMAGE_TAG):   <input class="textin" type="text" size="30px" name="SENTINEL_IMAGE_TAG" value="box2.32"></p>
            <p class="text">URI адрес ЕСИА Шлюза (ESIA_GATE_URI):   <input class="textin" type="text" size="30px" name="ESIA_GATE_URI" value= "https://esia.example.com"></p>
            <br>
            <h3 class="text2"> Адреса хостов инфраструктуры Шлюза</h3>
            <p class="text">Заменить на IP адрес инстанса установки signer (SIGNER_IP):   <input class="textin" type="text" size="30px" name="SIGNER_IP" value="192.168.88.126"></p>
            <p class="text">Заменить на IP адрес инстанса базы данных PostgreSQL (DATABASE_IP):   <input class="textin" type="text" size="30px" name="DATABASE_IP" value="192.168.88.126"></p>
            <p class="text">Заменить на IP адрес инстанса базы данных Redis (REDIS_IP):   <input class="textin" type="text" size="30px" name="REDIS_IP" value="192.168.88.126"></p>

            <br>
            <h3 class="text2">Пароль к главной учетной записи ЕСИА Шлюза (логин - admin@esia.pro)</h3>
            <p class="text">Пароль:   <input class="textin" type="text" size="30px" name="MAIN_ADMIN_PASSWORD" value="768^bBrmeMC"></p>

            <br>  
            <h3 class="text2">Настройки доступа к вашему почтовому серверу</h3>
            <p class="text">SMTP_ADDRESS:  <input class="textin" type="text" size="35px" name="SMTP_ADDRESS" value="mail.yandex.ru"></p>
            <p class="text">SMTP_USER_NAME:   <input class="textin" type="text" size="35px" name="SMTP_USER_NAME" value="test"></p>
            <p class="text">SMTP_PASSWORD:   <input class="textin" type="text" size="35px" name="SMTP_PASSWORD" value="testpass"></p>
            <p class="text">SMTP_PORT:   <input class="textin" type="text" size="35px" name="SMTP_PORT" value="465"></p>
        </div>

  <!-- Просим заполнить Переменные окружения Signer -->
        <div class="blocks">
            <h2> Укажите параметры для Signer</h2>
            <h3 class="text">Репозиторий SIGNER (SIGNER_IMAGE):  <input class="textin" type="text" size="30px" name="SIGNER_IMAGE" value="harbor.rnds.pro/rnds/signer-cpp"/></h3>
            <h3 class="text">Версия SIGNER(SIGNER_IMAGE_TAG):   <input class="textin" type="text" size="30px" name="SIGNER_IMAGE_TAG" value="smolensk-csp"></h3>
       
            <h3 class="text">Имя пользователя для http basic authentication (SIGNER_USERNAME):   <input class="textin" type="text" size="30px" name="SIGNER_USERNAME" value="admin"></h3>
            
            <h3 class="text">Пароль пользователя для http basic authentication (SIGNER_PASSWORD):   <input class="textin" type="text" size="30px" name="SIGNER_PASSWORD" value="SIGNER_PASSWORD"></h3>
   
            <h3 class="text">Внешний порт контейнера с Signer (SIGNER_WEB_PORT):   <input class="textin" type="text" size="30px" name="SIGNER_WEB_PORT" value="8505"></h3>
        
            <h3 class="text">Используемый криптопровайдер для обращения к сертификату (может принимать значения: csp, openssl) (SIGNER_PROVIDER):   <input class="textin" type="text" size="30px" name="SIGNER_PROVIDER" value="csp"></h3>
        
            <h3 class="text">[Если криптопровайдером выбран CSP] Лицензионный номер для криптопро CSP на одно рабочее место (CRYPTOPRO_CSP_LICENSE):   <input class="textin" type="text" size="30px" name="CRYPTOPRO_CSP_LICENSE" value="768^50506-70007-49810-008YB-507B4"></h3>
       
            <h3 class="text">[Если криптопровайдером выбран CSP] Алиас сертификата (необходим для выполнения запросов к конкретному сертификату. Может быть произвольным) (CRYPTOPRO_CSP_ALIAS):   <input class="textin" type="text" size="30px" name="CRYPTOPRO_CSP_ALIAS" value="esia"></h3>
      
            <h3 class="text">[Если криптопровайдером выбран CSP] Имя криптоконтейнера (находится в name.key криптоконтейнера) (CRYPTOPRO_CSP_NAME):   <input class="textin" type="text" size="30px" name="CRYPTOPRO_CSP_NAME" value="pfx-dac16c25-dddb-1dc6-5b7e-6d8ef69f9c31"></h3> 
      
            <h3 class="text">[Если криптопровайдером выбран CSP] Pin код для криптоконтейнера (если он есть, иначе оставить пустым) (CRYPTOPRO_CSP_PIN):   <input class="textin" type="text" size="30px" name="CRYPTOPRO_CSP_PIN" value=""></h3> 
        </div>

    <!-- В коробке имеется Postgresql, По желанию, можем настроить -->
        <div class="blocks">
            <h2> Параметры для БД</h2>
            <h3 class="text"> <input class="textin" type="checkbox" size="50px" name="dbchbx" value="db">   Развернуть Postgresql из коробки</h3>
            <h3 class="text">Репозиторий образа (DATABASE_IMAGE):   <input class="textin" type="text" size="30px" name="DATABASE_IMAGE" value="postgres"></h3>
            <h3 class="text">Версия (DATABASE_IMAGE_TAG):   <input class="textin" type="text" size="30px" name="DATABASE_IMAGE_TAG" value="16"></h3>
            <h3 class="text">Путь к файлам БД на хостовой машине (DATABASE_DATA_PATH):   <input class="textin" type="text" size="30px" name="DATABASE_DATA_PATH" value="/storage/infra/gate_postgres/data"></h3>
            <br>

            <h3 class="text">(DATABASE_HOST):   <input class="textin" type="text" size="30px" name="DATABASE_HOST" value="db"></h3>
            <h3 class="text">(POSTGRES_NAME):   <input class="textin" type="text" size="30px" name="POSTGRES_NAME" value="main_esia_db"></h3>
            <h3 class="text">(POSTGRES_USER):   <input class="textin" type="text" size="30px" name="POSTGRES_USER" value="postgres"></h3>
            <h3 class="text">(POSTGRES_PASSWORD):   <input class="textin" type="text" size="30px" name="POSTGRES_PASSWORD" value="0QPnk5dVcAEg"></h3>
            <h3 class="text">(DATABASE_PORT):   <input class="textin" type="text" size="30px" name="DATABASE_PORT" value="5432"></h3>
        </div>

    <!-- Переменные окружения Redis -->     
        <div class="blocks">
            <h2> Параметры для Redis</h2>
            <h3 class="text"> <input class="textin" type="checkbox" size="50px" name="redischbx" value="redis">   Развернуть Redis из коробки</h3>
            <h3 class="text">Путь к файлам Redis на хостовой машине (REDIS_DATA_PATH):   <input class="textin" type="text" size="30px" name="REDIS_DATA_PATH" value="/storage/infra/redis_postgres/data"></h3>
            <h3 class="text"> Репозиторий образа (REDIS_IMAGE):   <input class="textin" type="text" size="30px" name="REDIS_IMAGE" value="redis"></h3>
            <h3 class="text"> Версия REDIS (REDIS_IMAGE_TAG):   <input class="textin" type="text" size="30px" name="REDIS_IMAGE_TAG" value="latest"></h3>
            <h3 class="text"> Внешний порт контейнера Redis (REDIS_PORT):   <input class="textin" type="text" size="30px" name="REDIS_PORT" value="6379"></h3>
            <br>

        </div>

          <!-- Дополнительные образы -->     
          <div class="blocks">
            <h2> Дополнительные образы</h2>

            
             
            <h3 class="text"> <input class="textin" type="checkbox" size="50px" name="traefikchbx" value="traefik">   Развернуть Traefik из коробки (Конфиг файлы лежат в ./box/nginx/nginx)</h3>
            <h3 class="text"> <input class="textin" type="checkbox" size="50px" name="nginxchbx" value="nginx">   Развернуть Nginx из коробки (Конфиги файлы лежат в ./box/traefik/configs)</h3>
            <br>
        </div>
        
         
<br>      
        <input type="submit" value="Применить">
    </form>
</div>

</body>
</html>